<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<bodyclass="bg-gray-100 pt-16 sm:pt-20">
    <!-- Navbar -->
  <%- include("../partials/nav") %>
<!-- Navbar -->
  <%- include("../partials/userSidebar") %>

    
</bodyclass=>
</html>